<div class="background" #show (click)="onClickBack()">

  <div class="card">
    <div class="photo"></div>
    <h2>STEPS</h2>
    <p>THIS WEEK</p>
    <div class="chart">
      <div class="bar bar1" *ngFor="let l of lun">
        <span>{{l.set}}</span>
      </div>
      <div class="bar bar2" *ngFor="let m of mar">
        <span>{{m.set}}</span>
      </div>
      <div class="bar bar3" *ngFor="let me of mer">
        <span>{{me.set}}</span>
      </div>
      <div class="bar bar4" *ngFor="let g of gio">
        <span>{{g.set}}</span>
      </div>
      <div class="bar bar5" *ngFor="let v of ven">
        <span>{{v.set}}</span>
      </div>
      <div class="bar bar6" *ngFor="let s of sab">
        <span>{{s.set}}</span>
      </div>
      <div class="bar bar7" *ngFor="let d of dom">
        <span>{{d.set}}</span>
      </div>
    </div>
    <div *ngFor="let d of totale">
      <h3>{{d.tot}}</h3>
    </div>
  </div>
</div>
